* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Inter; */
}

.navbar{
    height: 80px;
    display: flex;
    background-color: white;
    align-items: center;
}

.space-header{
    flex: 1;
}

.logo-image{
    height: 50%;
    margin: 12px 10px 12px 32px;
}

.text-logo-image{
    height: 25%;
    margin: 24px 0px 24px 10px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    font-weight: bold;
    color: #718096;
}

nav a:hover {  
    color: #5CE0E6;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 25px;
}

nav {
    text-align: right;
    padding: 24px;
    padding-right: 32px;
    position: sticky;
    top: 0;
}

main{
    overflow: auto;
}

body {
    background-color: white;
}

.featured-image{
    /* width: 100%; */
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.blueBG {
    font-size: 20px;
    padding: 60px;
    background-color: #5CE0E6;
    text-align: center;
}

.blueBG h2{
    color: white;
    font-size: 48px;
}

.whiteBG {
    font-size: 20px;
    padding: 60px;
    text-align: center;
}

.whiteBG h2{
    color: #2D3748;
    font-size: 48px;
}

.waves {
    width: 100%;
}

.google-play{
    height: 50px;
}

.card {
    box-shadow: 4px 8px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

p {
    font-size: 20px;
    color: #2D3748;
}

h3 {
    font-size: 24px;
    color: #2D3748;
}

footer {
    padding: 20px;
    color: white;
    background-color: #5CE0E6;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 1000px) {
    /* #content,
    aside {
        width: 100%;
        padding: 0;
    } */
 }